@tailwind base;
@tailwind components;
@tailwind utilities;

.header-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.bgtext {
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  .bgtext  {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
  }
}

@media (max-width: 480px) {
  .bgtext {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
